*.rb linguist-language=Java
src/main/webapp/resources/bootstrap/js/bootstrap.bundle.js linguist-vendored
src/main/webapp/resources/bootstrap/js/bootstrap.bundle.min.js linguist-vendored
src/main/webapp/resources/bootstrap/js/bootstrap.js linguist-vendored
src/main/webapp/resources/bootstrap/js/bootstrap.min.js linguist-vendored
src/main/webapp/resources/js/jquery-3.3.1.min.js linguist-vendored
